$btn_color: #2D635E;
$cup_color: #FAE9E0;
$coffee_color: #E3EBE7;
$footer_color: #444A4A;
$black_color: #000000;
$white_color: #FFFFFF;
$Josefin: 'Josefin Sans';
$Alegreya: 'Alegreya Sans';
$Cedarville: 'Cedarville Cursive';